<div class="row mt-5 mb-5 d-flex justify-content-center">
  <div class="col-sm-12 col-md-12 col-lg-7">
    <div class="alert alert-primary mt-5" role="alert">
      <h3 class="text-center">
        <strong>Sua conta foi criada com sucesso!</strong>
      </h3>
      <br>
      <br>
      <h6 class="text-center ml-5 mr-5">
        Ficamos felizes em tê-lo como nosso cliente! <br>
        Em 15 segundos você será redirecionado para a home.
      </h6>
      <br>
      <br>
      <h5 class="text-center">
        <b>Utilize seu CPF para acessar o painel!</b>
      </h5>
    </div>
    <div class="form-group">
      <button (click)="navigationHome()" class="btn btn-md btn-primary col-lg-8 offset-lg-2 col-md-6 offset-md-3">
        Não quero esperar. Leve-me para a home...
      </button>
    </div>
  </div>
</div>
