<div class="row mt-5 mb-5 d-flex justify-content-center">
  <div class="col-sm-12 col-md-12 col-lg-7">
    <div class="alert alert-primary mt-5" role="alert">
      <br>
      <h3 class="text-center">
        <strong>Página de Planos</strong>
      </h3>
      <br>
      <br>
      <h5 class="text-center">
        Aqui você pode escolher o seu plano.
      </h5>
      <br>
    </div>
    <div class="form-group">
      <button (click)="navigationHome()" class="btn btn-md btn-primary col-lg-4 offset-lg-4 col-md-6 offset-md-3">
        Ir para a home
      </button>
    </div>
  </div>
</div>
